*{
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 32px;
}

ul {
    display: flex;
    gap: 16px;
    align-items: center;
    list-style: none;
}

